:root {
    --main-border: #DFDFDF;
    --main-h1: #0B6EFD;
    --main-heading: #212529;
    --main-hr: #DEE2E6;
    --main-p: #585C5F;
    --main-a: #5792FE;
    --main-count: #919294;
    --main-title-bg: #F7F7F7;
}

#tech-exercise h1 {text-align: center; color: var(--main-h1);}

.flex {display: flex; justify-content: space-between;}
.flex .col {flex: 0 0 auto;}

.e-hr {width: 60%; margin: 0 auto; height: 2px; background-color: var(--main-hr); }

.c-panel {max-width: 60%; margin: 20px auto; border: 1px solid var(--main-border); border-radius: 10px;}
.c-panel .c-panel__title {background-color: var(--main-title-bg); padding: 10px;}
.c-panel .c-panel__title h2 {color: var(--main-heading); margin: 0;}

/* c-entry */
.c-entry {border: 1px solid var(--main-border);}
.c-entry p {color: var(--main-p);}
.c-entry a {color: var(--main-a);}
.c-entry div {padding: 10px;}

/* img */
.c-entry__img {align-self: center;}
.c-entry__img img {width: 100%; max-width: 96px;}

/* meta */
.c-entry__meta {flex: 1 !important;}
.c-entry__meta p, .c-entry__meta h3 {color: var(--main-heading); margin: 0;}

/* count */
.c-entry__count .count {color: var(--main-count);}

.i-user {margin-left: 10px;}
